[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mmpy-bot = "*"
flask = "*"
requests = "*"
python-dotenv = "*"
promise = "*"

[dev-packages]

[requires]
python_version = "3.12"
